*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.none {
    display: none;
}
.section-button__wrapper {
    text-align: center;
}
.section-new {
     padding-top: 60px;
     padding-bottom: 70px;
 }

.section-featured {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-blog {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-subscribe {
    padding-top: 45px;
    padding-bottom: 100px;
}

@media (min-width: 992px) {

}