.burger {
    position: relative;
    padding: 9px 2px;
    background: none;
    border: 0;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 99;
}
@media (min-width: 992px) {
    .burger {
        display: none;
    }
}
.burger__item{
    display: block;
    width: 30px;
    height: 3px;

    background-color: black;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    position: relative;
}
.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #000000;

    position: absolute;
    left: 0;
    z-index: 1;
}
.burger__item:before {
    top: -8px;
}
.burger__item:after {
    bottom: -8px;
}
