.card-link{
    text-decoration: none;
    display: inline-block;
    transition: opacity 0.2s ease-in;
}
.card-link:hover{
    opacity: 0.8;
}
.card {
    margin-bottom: 22px;
    text-align: center;
    max-width: 270px;
}
.card__img {
    display: block;
}
.card__title {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 12px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}
.card__price {
    font-size: 14px;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;

}
.card__price-old {
    margin-right: 10px;
    color: #999999;
}
.card__price-new {
    font-weight: 700;
    color: #F72464;
}
.featured-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}