.footer {
    background-color: black;
    padding: 30px 0;
    color: white;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer__colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__nav {
    margin-bottom: 25px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
}
.footer__nav a {
    transition: opacity 0.2s ease-in;
}
.footer__nav a:hover {
    opacity: 0.8;
}
.footer__nav > a + a {
    margin-left: 30px;
}
.footer__socials {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.footer__socials > a + a{
   margin-left: 30px;
}
.footer__socials-link {

}
.footer__socials-icon path{
    transition: fill 0.2s ease-in;
}
.footer__socials-icon:hover path {
    fill: #F72464;
}
.footer__copyright {
    font-size: 14px;
    text-align: center;
    color: #999999;
}
.footer__copyright p {
    margin: 0;
}