header {

}
.header__row {
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width: 540px) {
    .header__row {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
}
.header__content {
    width: auto;
}
@media (min-width: 992px) {
    .header__content {
        position: absolute;
        width: 670px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
.header__title {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 20px;

    color: #000000;
}
@media (min-width: 992px) {
    .header__title {
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 1.3;
        margin: 0;
        margin-bottom: 20px;

        color: #000000;
    }
}
.header__text {
    max-width: 600px;
    height: 60px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .header__text {
        font-size: 22px;
        margin-bottom: 60px;
    }
}
@media (min-width: 992px) {
    .header__text {
        max-width: 600px;
        height: 60px;
        font-size: 22px;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 60px;
    }
}
.header__btn {
    font-family: 'Playfair Display', sans-serif;
    height: 50px;
    background: #F72464;
    box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
    border-radius: 4px;

    margin-top: 60px;

    font-size: 16px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    padding: 0.42307em 1.26923em 0.538461em;

    color: #FFFFFF;
    transition: box-shadow 0.2s ease-in;
}
@media (min-width: 992px) {
    .header__btn {
        font-size: 26px;
    }
}
.header__btn:hover {
    box-shadow: 0px 4px 25px rgba(183, 12, 46, 0.675);
}
.header__photo {
    display: block;
    margin-bottom: 15px;
    max-width: 50%;
}
@media (min-width: 540px) {
    .header__photo {
        display: block;
    }
}
@media (min-width: 992px) {

}