.info-section {
    padding: 68px 0;
    position: relative;
    background: url('./../../img/info/bg.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}
.info-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.75);
}
.info-section__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.info-section__title {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 1;
    color: #FFFFFF;
}