.nav {
    padding: 20px 0 ;
}
@media (min-width: 992px ) {
    .nav {
        padding: 40px 0;
    }
}
.nav__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.nav__logo a {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #000000;

    margin-right: 15px;
}
@media (min-width: 992px ) {
    .nav__logo a {
        margin-right: 83px;
    }
}
.nav__logo:hover {
    text-decoration: underline;
}


.nav__list-holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,52,142,0.52);
    z-index: 9;
    transition: opacity 0.2s ease-in;
}
.nav__list-holder--visible {
  display: block;
}
@media (min-width: 992px) {
    .nav__list-holder {
        display: block;
        position: static;
        background-color: transparent;
    }
}
.nav__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 258px;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    bottom: 0;
    z-index: 9;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
}
.nav__list-holder--visible .nav__list {
    transform: translateX(0%);
}
@media (min-width: 992px) {
    .nav__list {
        display: flex;
        list-style-type: none;
        position: static;
        color: #000000;
        width: auto;
        background-color: transparent;
        transform: none;
    }
}
.nav__item {
    font-size: 18px;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #333;
}
@media (min-width: 992px) {
    .nav__item {
        margin-right: 30px;
        font-size: 18px;
        padding: 0;
        border-bottom: none;
    }
}
.nav__item:last-child{
    margin-right: 0;
}
.nav__link{
    text-decoration: none;
    color: inherit;
}
.nav__link:hover {
    color: #F72464;
}
.nav__cart {
    margin-left: auto;
    margin-right: 15px;
}
@media (min-width: 992px) {
    .nav__cart {
        margin-right: 0;
    }
}
.nav__cart-link {
    display: block;
    top: 3px;
    padding: 5px;
    position: relative;
}
.nav__cart-num {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 30px;

    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;

    background: #F72464;
}


