.posts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    margin-top: 90px;
    margin-bottom: 30px;
    padding-bottom: 70px;
}
.post {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    flex-grow: 1;
}
.post__content {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post__img {

 }
.post__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
 }
.post__text {
    margin: 0 0 10px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
    color: #777777;
}
.post__read-more {
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;

}
.post__read-more::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    vertical-align: text-top;

    background-image: url("./../../img/icons/chevron-right.svg");
    background-position: center;
    background-size: auto;

    transition: margin 0.2s ease-in;
}
.post__read-more:hover {
    text-decoration: underline;
}
.post__read-more:hover::after {
    margin-left: 10px;
}
.post__description {

}