.section__header {
    margin-bottom: 40px;
}
.section-header__title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}
.section-header__description {
    max-width: 630px;
    margin: 20px auto 30px;
    font-size: 14px;

    text-align: center;

    color: #999999;
}
.section-header__description--uppercase {
    text-transform: uppercase;
}
.section-header__description--greater {
    font-size: 16px;
}
.section-header__description p {
    margin: 0;
    margin-top: 10px;
}