.subscribe-form {
    display: flex;
    justify-content: center;
}
.subscribe-form > * + * {
    margin-left: 10px;
}
.subscribe-form__input {
    padding-left: 10px;
    padding-right: 10px;
    background: #FFFFFF;
    border: 1px solid #F72464;
    border-radius: 4px;
    height: 42px;
    width: 230px;

    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
}
.subscribe-form__button {
    padding: 13px 30px 13px ;
    background: #F72464;
    border: none;
    border-radius: 4px;

    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;

    cursor: pointer;
    transition: box-shadow 0.2s ease-in;
}
.subscribe-form__button:hover {
    box-shadow: 0px 2px 15px rgba(183, 12, 46, 0.675);
}